.back-button {
  margin-bottom: 16px;
}

.product {
  background-color: white;

  .image {
    width: 100%;
    padding: 10px;
    max-height: 400px;
    object-fit: contain;
  }

  .content {
    padding: 5px 16px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 16px;

      .name {
        color: var(--purple-color);
      }
    }

    .description {
      max-width: 500px;
      margin: 8px auto;
    }
  }
}

.error {
  margin: 0;
  padding: 15px;
  width: 100%;
}
