<div class="sm-container">
  <button mat-flat-button
          color="accent"
          class="back-button"
          *ngIf="!onDialog"
          routerLink="../">
    <mat-icon>arrow_back_ios</mat-icon>
    Product List
  </button>

  <ng-container *ngIf="!isLoading; else spinner">
    <div *ngIf="!!product; else error"
         class="product">
      <img class="image"
           [src]="product.image">
      <div class="content">
        <div class="top">
          <span class="name">{{product.name}}</span>
          <span class="price">&euro;{{product.price}}</span>
        </div>

        <p class="description">{{product.description}}</p>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #spinner>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>

<ng-template #error>
  <span class="error">Failed loading the product detail.</span>
</ng-template>
