<div class="product"
     (click)="showProductDetails(product.product_id)">
  <div class="image"
       [style.background-image]="'url(' + product.image + ')'">
  </div>

  <div class="content">
    <span class="data name">{{product.name}}</span>
    <span class="data price">&euro;{{product.price}}</span>
  </div>
</div>
