:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d4d4d4;
  height: 100%;
  width: 100%;
  background: white;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--purple-color);
    box-shadow: 25px -22px 193px -78px rgba(205, 204, 204, 0.38) inset;
  }

  .image {
    height: 100%;
    width: 100%;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;

    .data {
      font-weight: bold;
      font-size: 1.2em;
    }

    .name {
      color: var(--purple-color);
    }
  }
}
