@use '@angular/material' as mat;
$purple-palette: mat.$purple-palette;
$purple-color: mat.get-color-from-palette($purple-palette, 500);
$red-palette: mat.$red-palette;
$red-color: mat.get-color-from-palette($red-palette, 500);

:root {
  --purple-color: #{$purple-color};
  --red-color: #{$red-color};
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e7e7e7;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;

  &.--with-padding {
    padding: 0 16px 32px 16px;
  }

  &.--with-margin-bottom {
    margin-bottom: 24px;
  }
}

.sm-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 0 8px;
}

.spinner {
  margin: 20px auto;
}

.error {
  margin-top: 35px;
  display: block;
  width: 100%;
  font-size: 1.3em;
  color: var(--red-color);
  text-align: center;
}

