<mat-toolbar color="primary"
             class="nav">
  <div class="container">
    <div class="wrapper"
         routerLink="/">
      <h1 class="title">{{title}}</h1>
    </div>
  </div>
</mat-toolbar>
