.nav {
  margin-bottom: 60px;

  .wrapper {
    cursor: pointer;
    width: 150px;

    .image {
      width: 40px;
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
    }

    .title {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

