<div class="container --with-padding --with-margin-bottom">
  <header>
    <h1>Product list</h1>
  </header>

  <ng-container *ngIf="!isLoading; else spinner">
    <mat-form-field class="search-field">
      <mat-label>Search</mat-label>
      <input matInput
             class="search-input"
             [formControl]="searchInputControl"
             type="text"
             placeholder="Search"
             name="search"
             (keyup.escape)="clearFilter()"/>
      <button *ngIf="searchInputControl.getRawValue()"
              class="close-button"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-grid-list *ngIf="!!products; else error"
                   [cols]="cols"
                   [rowHeight]="rowHeight"
                   gutterSize="15px"
                   class="product-list">
      <mat-grid-tile *ngFor="let product of filteredProducts">
        <app-product [product]="product"></app-product>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</div>

<ng-template #spinner>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>

<ng-template #error>
  <span class="error">Fetching product list failed.</span>
</ng-template>
